<div class="menu">
    {% block menu %}
        <a class="btn" href="{{ path('vitrine_homepage', {'visiteur': "Nadia"}) }}"> Accueil </a>
        <ul>
            <li> Categories
                <ul>
                    <li><a class="btn" href="{{ path('articleByCat', {'idCategorie': 1}) }}"> Métiers </a></li>
                    <li><a class="btn" href="{{ path('articleByCat', {'idCategorie': 2}) }}"> Humeurs </a></li>
                </ul>
            </li>
            <li><a class="btn" href="{{ path('catalogue') }}"> Catalogue </a></li>
            <li>Connexion
                <ul>
                    {% if user is not defined or user is empty %}
                        <!-- Si non connecté -->
                        <li><a href="#"> S'enregistrer </a></li>
                        <li><a href="#"> Se connecter </a></li>
                    {% else %}
                        <!-- Si connecté-->
                        <li><a href="#"> Mon profil </a></li>
                        <li><a href="#"> Se déconnecter </a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>

    {% endblock %}
</div>
