<div class="menu">
    {% block menu %}
        <a class="btn" href="{{ path('vitrine_homepage', {'visiteur': "Tata"}) }}"> Accueil </a>
        <a class="btn" href="{{ path('mentions') }}"> Mentions </a>
    {% endblock %}
</div>
