<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{ asset('bundles/vitrine/startbootstrap-shop-item-1.0.4/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/vitrine/startbootstrap-shop-item-1.0.4/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    </head>
    {% block body %}
        {% include "VitrineBundle::header.html.twig" %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>


        <div class="panier">
            {% block panier %}
                {% include "VitrineBundle:panier:contenuPanier.html.twig"%}
            {% endblock %}
        </div>

        {% include "VitrineBundle::footer.html.twig" %}
    {% endblock %}
</html>
