{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}
    <h1> Categorie : {{ categorie.libelle }}</h1>
    {% if produits is defined %}
        <table>
            <tr><th> Article </th><th> Prix </th></tr>
            {% for p in produits %}
                <tr><td> {{ p.libelle }} </td><td> {{ p.prix }}</td><td><a href="{{ path('ajouterPanier', {'id': p.id}) }} "> Ajouter au panier</a></td></tr>
            {% endfor %}
        </table>
    {% else %}
        <p> Aucun artciles disponible.</p>
    {% endif %}


{% endblock %}